---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Robin van Baalen</title>
  </head>
  <body class="bg-black text-white">
    <h1 class="text-4xl p-8">Site rebuilding with Astro</h1>
  </body>
</html>
